.effects {
  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-light;
    transform: translateY(-15px);
  }
}

.effects__text {
  text-align: left;
  position: relative;
  display: flex;
  padding-top: 65px;
  padding-bottom: 60px;
  margin: 0;
}

.effects__information {
  padding-left: 72px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    transform: translateY(-15px);
    padding-top: 70px;
  }
}

.effects__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-right: 140px;
  margin-bottom: 0;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    padding-right: 110px;
    padding-bottom: 30px;
  }
}

.effects__research {
  font-size: $font-size;
  font-weight: 300;
  line-height: 24px;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 15px;
  }
}

.effects__url {
  font-size: $font-size;
  font-weight: 300;
  color: $pink;
  border-bottom: 1px solid $pink;
  display: inline-block;
  line-height: 1;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effects__image {
  fill: $grey-darkest;
}

.effects__timer {
  @media (min-width: $tablet-width) {
    width: 238px;
    height: 276px;
    fill: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
    fill: transparent;
  }
}
