.effects {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-light;
  }
}

.effects__text {
  text-align: left;
  position: relative;
  display: flex;
  padding-top: 54px;
  padding-bottom: 60px;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
  }
}

.effects__container {
  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.effects__information {
  padding-left: 72px;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-top: 12px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    transform: translateY(-15px);
    padding-top: 75px;
    padding-right: 0;
  }
}

.effects__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  max-width: 168px;
  margin-bottom: 0;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    padding-right: 110px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    max-width: none;
  }
}

.effects__research {
  font-size: $font-size;
  font-weight: 300;
  line-height: 24px;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 15px;
  }
}

.effects__url {
  font-size: $font-size;
  font-weight: 300;
  color: $pink;
  border-bottom: 1px solid $pink;
  display: inline-block;
  line-height: 1;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 13px;
  }
}

.effects__url:hover {
  border-bottom: none;
}

.effects__image {
  fill: $grey-darkest;
}

.effects__timer {
  @media (min-width: $tablet-width) {
    width: 238px;
    height: 276px;
    fill: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
    fill: transparent;
  }
}
