.intro {
  background-color: $blue-dark;
  color:$white;
  font-weight: 300;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}
.intro__text {
    display: block;
    margin: auto;
    line-height: 29px;
    font-size: 24px;
    padding-top: 90px;
}
.intro__text-download {
  display: block;
  padding-bottom: 38px;
}
.intro__mobile {
  display: block;
  margin:auto;
  text-align: center;
  margin-top:28px;
  padding-right:50px;
}
.intro__btn {
  margin-top: 20px;
}
.intro__item {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  vertical-align: top;
  width: 47px;
  height: 56px;
  margin-right:35px;
  margin-left:0;
  &--android {
    padding-top:10px;
  }
  &--microsoft {
    padding-top:13px;
  }
}
