.intro {
  text-align: center;
  z-index: 0;

  @media (min-width: $tablet-width) {
    padding-right: 340px;
    position: relative;

    &--form {
      padding-right: 0;
    }

    &--photo {
      padding-right: 0;
    }
  }
}

.intro__text {
  display: block;
  margin: auto;
  line-height: 29px;
  font-size: 24px;
  padding-top: 90px;

  @media (min-width: $tablet-width) {
    padding-top: 200px;
    font-size: 40px;
    line-height: 48px;
    padding-left: 50px;
    padding-right: 25px;
    max-width: 300px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 50px;
    line-height: 68px;
    max-width: 300px;
    transform: translateX(-160px);
  }
}

.intro__text-download {
  display: block;
  padding-bottom: 38px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 112px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-bottom: 128px;
    transform: translateX(-150px);
  }
}

.intro::after {
  @media (min-width: $tablet-width) {
    content: "";
    background-image: url("../img/iphone-hand-tablet.png");
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    width: 100%;
    height: 545px;
    left: 40px;
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    left: 140px;
    background-image: url("../img/iphone-hand.png");
    height: 645px;
    background-position: center;
    width: 100%;
  }
}

.intro--form::after {
  content: none;
}

.intro--photo::after {
  content: none;
}

.intro__mobile {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 28px;
  padding-right: 60px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__btn {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-left: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    transform: translateX(-150px);
  }
}

.intro__items {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    transform: translateX(-150px);
  }
}

.intro__item {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  vertical-align: top;
  width: 47px;
  height: 56px;
  margin-right: 35px;
  margin-left: 0;

  &--android {
    padding-top: 5px;
  }

  &--microsoft {
    padding-top: 10px;
  }
}
