.intro__photo-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  padding-top: 97px;
  padding-bottom: 77px;

  @media (min-width: $tablet-width) {
    line-height: 68px;
    font-size: 50px;
    padding-top: 173px;
    padding-bottom: 134px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 85px;
  }
}
