.page-header {
  background-color: rgba($black, 0.3);
  color: $white;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.page-header__pink {
  cursor: pointer;
}

.page-header__logo:hover {
  path {
    fill: $pink;
  }
}

.page-header__logo:active {
  path {
    fill: $white;
    opacity: 0.3;
  }
}

.page-header__logo {
  display: inline-block;
  margin-top: 23px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 130px;
  }
}

.page-header__logo-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    fill: $white;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
