.photo-page {
  background-color: $white;
  color: $blue-light;
}

.photo-page__text {
  text-align: center;
  font-weight: 300;
  font-size: $font-size;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-page__list {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  padding: 0;
}

.photo-list__item {
  padding-top: 30px;

  &--back {
    background-color: $grey-light;
    //background-position: center;
    //width: 276px;
  }

  &--name {
    text-align: left;
    font-weight: 700;
    font-size: $font-size;
    padding-left: 17px;
  }

  &--time {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
  }

  &--text {
    text-align: left;
    padding-left: 17px;
  }

  &--likes {
    font-size: 12px;
    text-transform: uppercase;
    color: $pink;
  }
}
