.reviews {
  background-color: $white;
  text-align: center;
  font-size: $font-size;
  line-height: 30px;
  transform: translateY(-15px);

  @media (min-width: $desktop-width) {
    transform: none;
    font-size: 18px;
    line-height: 30px;
    padding-top: 50px;
  }
}

.reviews__quote {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    fill: $grey-light;
    margin-left: 425px;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    display: none;
  }
}

.reviews__text {
  color: $blue-light;

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.reviews__profession {
  @media (max-width: $tablet-width) {
    display: none;
  }
  order: 2;
  margin: 0;
  padding-bottom: 50px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
