.reviews {
  background-color: $white;
  text-align: center;
  font-size: $font-size;
  line-height: 30px;
  transform: translateY(-15px);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    transform: none;
    font-size: 18px;
    line-height: 30px;
    padding-top: 50px;
  }
}

.reviews__quote {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    fill: $grey-light;
    margin: auto;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  padding-top: 23px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0;
    padding-top: 35px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  position: relative;

  &:not(:first-child) {
    display: none;
  }
}

.reviews__text {
  color: $blue-light;
  margin: 0;

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 70px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.reviews__profession {
  @media (max-width: $mobile-width) {
    display: none;
  }
  order: 2;
  margin: 0;
  padding-bottom: 30px;
  font-size: $font-size;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 40px;
  }
}

.reviews__button-left {
  display: none;

  @media (min-width: $desktop-width) {
    background-image: url("../img/icon-review-arrow-left.svg");
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border: 0;
    width: 22px;
    height: 41px;
    background-color: transparent;
    position: absolute;
    top: 150px;
    opacity: 0.3;
  }
}

.reviews__button-left:hover {
  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}

.reviews__button-left:active {
  @media (min-width: $desktop-width) {
    opacity: 0.1;
  }
}

.reviews__button-right {
  display: none;

  @media (min-width: $desktop-width) {
    background-image: url("../img/icon-review-arrow-right.svg");
    position: absolute;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border: 0;
    width: 22px;
    height: 41px;
    background-color: transparent;
    right: 0;
    top: 150px;
    opacity: 0.3;
  }
}

.reviews__button-right:hover {
  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}

.reviews__button-right:active {
  @media (min-width: $desktop-width) {
    opacity: 0.1;
  }
}
