.user-post {
  background-color: $grey-light;
  color: $blue-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.user-post__photo {
  padding-top: 20px;
}

.user-post__img {
  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }
}

.user-post__publish {
  padding-top: 69px;
  margin-bottom: -15px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.user-post__wrapper {
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 660px;
    margin: 0 auto;
    padding: 40px 20px;
    align-items: center;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    padding: 40px 80px;
    margin-bottom: 95px;
  }
}

.user-post__buttons {
  border-top: 1px solid rgba($blue-light, 0.1);
  align-items: center;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 0;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    margin-top: 94px;
    justify-content: center;
  }

  &--send {
    margin-top: 20px;
    color: $pink;
    font-size: 18px;
    width: 280px;
    padding: 10px 20px;
    border: 3px solid $pink;
    border-radius: 30px;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 258px;
      margin-top: 13px;
    }

    @media (min-width: $desktop-width) {
      width: 183px;
      margin-top: 0;
    }
  }

  &--send:hover {
    background-color: $pink;
    color: $white;
    border: 3px solid $pink;
  }

  &--send:active {
    color: rgba($white, 0.3);
  }

  &--stop {
    margin-top: 15px;
    margin-bottom: 9px;
    color: rgba($grey-dark, 0.1);
    font-size: 18px;
    width: 280px;
    padding: 10px 20px;
    border: 3px solid rgba($grey-dark, 0.1);
    border-radius: 30px;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 258px;
      margin-top: 28px;
    }

    @media (min-width: $desktop-width) {
      width: 183px;
      position: relative;
      left: 45px;
      margin: 0;
    }
  }

  &--stop:hover {
    color: rgba($grey-dark, 0.3);
    border: 3px solid rgba($grey-dark, 0.3);
    background-color: transparent;
  }

  &--stop:active {
    background-color: rgba($grey-dark, 0.3);
    color: rgba($white, 0.3);
    border: 3px solid rgba($grey-dark, 0.3);
  }
}

.user-post__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-left: 55px;
    padding-bottom: 0;
  }
}

.user-post__crop,
.user-post__contrast,
.user-post__fill {
  @media (min-width: $tablet-width) {
    path {
      fill: rgba($pink, 1);
    }

    rect {
      fill: rgba($pink, 1);
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 10px;
    position: absolute;
  }
}

.user-post__crop {
  @media (min-width: $tablet-width) {
    svg {
      width: 22px;
      height: 22px;
    }

    padding-right: 20px;
    position: absolute;
    right: 195px;
    top: -30px;
  }

  @media (min-width: $desktop-width) {
    svg {
      width: 44px;
      height: 44px;
    }
    right: 268px;
    top: -51px;
    position: absolute;
  }
}

.user-post__fill {
  @media (min-width: $tablet-width) {
    svg {
      width: 24px;
      height: 22px;
    }

    top: -28px;
    right: 192px;
    padding-right: 22px;
  }

  @media (min-width: $desktop-width) {
    svg {
      width: 48px;
      height: 43px;
    }

    right: 265px;
    top: -53px;
  }
}

.user-post__contrast {
  @media (min-width: $tablet-width) {
    svg {
      width: 16px;
      height: 16px;
    }
    position: absolute;
    margin-bottom: 10px;
    top: -30px;
    right: 208px;
  }

  @media (min-width: $desktop-width) {
    svg {
      width: 32px;
      height: 32px;
    }

    top: -48px;
    right: 284px;
  }
}

.user-post__filter {
  margin-left: 54px;
  margin-right: -30px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    path {
      opacity: 0.3;
    }
  }

  @media (max-width: $tablet-width) {
    rect {
      opacity: 0.3;
    }
  }

  &--active {
    path {
      fill: $pink;
      opacity: 1;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.user-post__filter:hover {
  path {
    opacity: 0.5;
  }

  rect {
    opacity: 0.5;
  }
}

.user-post__filter:active {
  path {
    fill: $pink;
    opacity: 1;
  }

  rect {
    fill: $pink;
    opacity: 1;
  }
}

.user-post__radio {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 39px;
  height: 39px;
  z-index: 0;
  outline: none;
  opacity: 0;
}

.user-post__rect {
  margin-left: 20px;
  margin-top: -40px;
  margin-bottom: -120px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-post__slider {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  border: 2px solid $pink;
  background: $white;
  position: relative;
  top: -41px;
  left: 235px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-post__slider:focus {
  background: $pink;
}

.user-post__range {
  position: relative;
  height: 14px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.user-post__range-scale {
  height: 2px;
  background-color: $blue-light;
}

.user-post__range-btn {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 4px;
  bottom: 0;
  transform: translateX(-50%);
  border: 2px solid $pink;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  outline: none;

  &--crop {
    left: 75%;

    @media (min-width: $desktop-width) {
      left: 27%;
    }
  }

  &--fill {
    left: 15%;

    @media (min-width: $desktop-width) {
      left: 90%;
    }
  }

  &--contrast {
    left: 54%;

    @media (min-width: $desktop-width) {
      left: 59%;
    }
  }

  &:active,
  &:focus {
    background-color: $pink;
  }
}

.user-post__control {
  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    width: 210px;
    padding-left: 6px;
    left: 28px;
    top: -31px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    margin-top: 10px;
    left: 52px;
    top: -51px;
  }
}

.user-post__filter-wrapper {
  margin-top: 11px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 36px;
    border-bottom: 1px solid rgba($blue-light, 0.1);
    position: relative;
    margin-top: 58px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.user-post__filter-wrapper:not(:first-child) {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
  }
}

.user-post__work {
  @media (max-width: $tablet-width) {
    margin: 0 auto;
    max-width: 320px;
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-bottom: 13px;
  }
}
