.user-data__journey {
  background-color: $grey-light;

  &--achievements {
    padding-top: 25px;
  }

  &--form {
    border: 0 none;
  }
}

.journey-list__fieldset {
  font-size: $font-size;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  line-height: 18px;
}

.journey-list__items {
  position: relative;
  padding-top: 25px;
}

.checkbox__name {
  display: inline-block;
}
