.user {
  background-color: $white;
  color: $blue-light;
  text-align: left;
}

.user__title-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 0;
  }
}

.user__tablet {
  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }
}

.user__data-tablet {
  @media (max-width: $mobile-width) {
    margin: 0;
    padding-top: 7px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 42px;
  }
}

.user__title {
  text-align: center;
  font-weight: 300;
  font-size: $font-size;
  line-height: 30px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 756px;
    margin: 0 auto;
    padding-top: 45px;
  }
}

.user__information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.user__account {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 433px;
    margin-left: 10px;
    padding-top: 30px;
  }
}

.user__account-label {
  font-size: $font-size;
  text-transform: uppercase;
  color: $pink;
  display: inline-block;
  position: relative;
  margin-left: 22px;
  padding-top: 15px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    margin-left: -21px;
  }
}

.user__account-input {
  position: relative;
  width: 100%;
  border: 2px solid $grey;
  border-radius: 1px;
  font-size: 18px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
}

.user__journey {
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    order: 3;
  }
}

.user__journey-achievements {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.user__journey-list {
  border: 0 none;

  @media (min-width: $tablet-width) {
    border: 2px solid $grey;
    border-radius: 1px;
  }
}

.user__journey-fieldset {
  font-size: $font-size;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  line-height: 18px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
  }
}


.user__journey-items {
  position: relative;
  padding-top: 25px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: wrap;
  }
}

.user__journey-checkbox {
  display: inline-block;
}

.user__contacts-label {
  font-size: $font-size;
  font-weight: 400;
  text-transform: uppercase;
  color: $pink;
  display: inline-block;
  position: relative;
  margin-left: 22px;
  padding-top: 15px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-left: 14px;
  }
}

.user__contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.user__contacts-tablet {
  margin-top: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    order: 1;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 20px;
  }
}

.user__contacts-input {
  position: relative;
  border: 2px solid $grey;
  border-radius: 1px;
  font-size: 18px;
  padding-top: 19px;
  padding-bottom: 17px;
  padding-left: 20px;
  width: 437px;
  margin-left: 38px;

  @media (min-width: $mobile-width) {
    width: 276px;
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    width: 472px;
    margin-left: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 371px;
    margin-left: 57px;
    padding-top: 23px;
  }
}

.user__input-wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 59px;
        height: 100%;
        border: 0;
      }
    }
  }

  &--phone {
    @media (min-width: $tablet-width) {
      &::before {
        background: $grey url("../img/icon-phone.svg") no-repeat center;
        background-size: 20px 19px;
        margin-right: 47px;
        z-index: 1;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        margin-right: 0;
      }
    }
  }

  &--mail {
    @media (min-width: $tablet-width) {
      &::before {
        background: $grey url("../img/icon-mail.svg") no-repeat center;
        background-size: 20px 19px;
        margin-right: 48px;
        z-index: 1;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        margin-right: 0;
      }
    }
  }
}

.user__contact {
  padding-bottom: 35px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    order: 2;
    padding-top: 54px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 6px;
    padding-left: 0;
    padding-right: 0;
  }
}

.user__contact-tablet {
  @media (max-width: $mobile-width) {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $mobile-width) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    border: 2px solid $grey;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.user__contact-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.user__contact-fieldset {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    font-size: $font-size;
    text-transform: uppercase;
    color: $pink;
    line-height: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.user__contact-desktop {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.user__gadget {
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    max-width: 432px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.user__gadget-list {
  padding-top: 0;
  padding-bottom: 25px;
  padding-left: 9px;

  @media (min-width: $desktop-width) {
    max-width: 453px;
    padding-top: 21px;
  }
}

.user__gadget-data {
  border: 0 none;

  @media (min-width: $tablet-width) {
    border: 2px solid $grey;
    border-radius: 1px;
    justify-content: center;
  }
}

.user__gadget-items {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.user__gadget-fieldset {
  font-size: $font-size;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.user__feedback {
  padding-top: 47px;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
  }
}

.user__feedback-label {
  font-size: $font-size;
  text-transform: uppercase;
  color: $pink;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.user__fieldset-tablet {
  padding: 0;
  font-size: 18px;
  line-height: 30px;

  @media (max-width: $mobile-width) {
    border: none;
  }

  @media (min-width: $mobile-width) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    border: 2px solid $grey;
    border-radius: 1px;
    padding-bottom: 15px;
  }
}

.user__feedback-text {
  font-family: $font;
  font-size: 18px;
  color: $blue-light;
  line-height: 30px;
  width: 276px;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 22px;
  border: 2px solid $grey;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 496px;
    margin-bottom: 22px;
    padding-top: 15px;
    margin-top: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 816px;
  }
}

.user__submit {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  background: $green;
  color: $white;
  border: 2px solid $green;
  border-radius: 3px;
  padding-top: 22px;
  padding-bottom: 16px;
  width: 280px;
  margin-top: 44px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 300px;
  }
}

.user__submit-required {
  margin-top: 16px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
  }
}

.user__submit:hover {
  background: $green-dark;
  border: 2px solid $green-dark;
}

.user__submit:active {
  background: $green-dark;
  border: 2px solid $green-dark;
  color: rgba($white, 0.3);
}

.user__submit:disabled {
  background: $grey;
  border: 2px solid $grey;
  color: $white;
}

.user__submit-form {
  span {
    color: $pink;
  }

  p {
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 53px;
  }
}

.user__checkbox-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin: 5px -12px 35px;
  line-height: 30px;
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 4px;
  padding-left: 55px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 12px 45px 35px;
    padding: 13px 0 4px 55px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: $white;
    border: 2px solid $grey;
    border-radius: 2px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 13px 29px 24px;
    padding: 10px 0 4px 55px;
    cursor: pointer;
  }
}

.user__checkbox-label:hover {
  &::before {
    border: 2px solid $blue-light;
  }
}

.user__checkbox-label:active {
  &::before {
    border: 2px solid $pink;
  }
}

.user__checkbox-input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 39px;
  height: 39px;
  z-index: 0;
  outline: none;
  opacity: 0;
}

.user__checkbox-input:checked + .user__checkbox-label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 22px;
  height: 16px;
  background: url("../img/tick.svg") no-repeat top left;
  background-size: 22px 16px;
  z-index: 1;
}

.user__gadget-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 4px;
  padding-left: 70px;
  cursor: pointer;
  margin-top: 34px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: $white;
    border: 2px solid $grey;
    z-index: 1;
    border-radius: 50%;
  }
}

.user__gadget-label:hover {
  &::before {
    border: 2px solid $blue-light;
  }
}

.user__gadget-label:active {
  &::before {
    border: 2px solid $pink;
  }
}

.user__gadget-radio {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 39px;
  height: 39px;
  z-index: 0;
  outline: none;
  opacity: 0;
}

.user__gadget-radio:checked + .user__gadget-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  z-index: 2;
  border-radius: 50%;
}

.user__journey-first {
  @media (min-width: $desktop-width) {
    order: -3;
  }
}

.user__journey-second {
  @media (min-width: $desktop-width) {
    width: 309px;
  }
}

.user__journey-third {
  @media (min-width: $desktop-width) {
    order: -2;
  }
}

.user__journey-fourth {
  @media (min-width: $desktop-width) {
    width: 296px;
  }
}

.user__journey-fifth {
  @media (min-width: $desktop-width) {
    order: -1;
  }
}
