.user-call {
  background: $white;
  color: $blue-light;
}

.user-call__text {
  line-height: 30px;
  font-size: $font-size;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
