.user-data__gadget {
  background-color: $grey-light;
  &--list {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &--form {
    border:0 none;
  }
}
.gadget-list__fieldset {
  font-size: $font-size;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  line-height: 18px;
}
