//pink colors
$white: #ffffff;
$black: #000000;
$blue-dark: #1d2631;
$blue-light: #283645;
$grey-light: #f2f2f2;
$grey: #e5e5e5;
$grey-dark: #24466a;
$grey-darkest: #dedede;
$pink: #d22856;
$green: #2aab6d;
$green-dark: #1c9b5e;
$red: #f25b26;

//rules pink
$font-color: $blue-light;
$font-color-reverse: $white;
$link-color: $pink;
$link-color-hover: $black;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 940px;

//fonts pink
$font: "Open Sans", "Arial", sans-serif;
$font-size: 14px;
$line-height: 24px;
$font-size-tablet: 18px;
