//pink colors
$white:#FFFFFF;
$black:#000000;
$blue-dark:#1D2631;
$blue-light:#283645;
$grey-light:#F2F2F2;
$grey:#E5E5E5;
$grey-dark:#24466A;
$pink:#D22856;
$green:#2AAB6D;
$green-dark:#1C9B5E;
$red:#F25B26;

//rules pink
$font-color:$blue-light;
$font-color-reverse:$white;
$link-color:$pink;
$link-color-hover:$black;

//fonts pink
$font:"Open Sans", "Arial", sans-serif;
$font-size:14px;
$line-height:24px;

